---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="drac-heading drac-heading-xl drac-text-white">Welcome to <span class="drac-text-purple-cyan">Astro</span> + <span class="drac-text-yellow-pink">Dracula UI</span></h1>
		<p class="drac-box drac-card drac-p-md drac-text-black drac-bg-yellow-pink">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<a
		  href="#"
		  class="drac-anchor drac-text drac-text-white drac-text-purple--hover"
		  >Visit the Dracula Castle</a
		>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		width: 80ch;
	}
	code {
		font-size: 0.875em;
		font-weight: bold;
		background: var(--white);
		color: var(--black);
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
</style>
